<div class="card-wrapper">
  <p-card class="annexure-card">
    <div class="form-header">
      <p id="form-title">
        <span>Documents Upload</span>
        Application Form for Grant of Certificate of Registration as Foreign
        Venture Capital Investor (FVCI)
      </p>
      <div class="wrapper">
        <img [src]="download" alt="download button" />
        <a href="">Download</a>
      </div>
    </div>
    <p-scrollpanel [style]="{ width: '100%', height: '500px' }">
      <form>
        <div class="add-document">
          <p-toast />
          <p-fileupload
            name="demo[]"
            [url]="'https://www.primefaces.org/cdn/api/upload.php'"
            (onUpload)="onUpload($event)"
            (onSelect)="onSelect($event)"
            [multiple]="true"
            accept="application/pdf"
            maxFileSize="1000000"
            mode="advanced"
          >
            <ng-template pTemplate="content">
              <span>Drag and drop PDF files here to upload.</span>
              <p-table [value]="files" [showGridlines]="true">
                <ng-template pTemplate="header">
                  <tr>
                    <th colspan="2">POA</th>
                    <th rowspan="2">Name</th>
                    <th rowspan="2">Document</th>
                    <!-- <th rowspan="2">Uploaded By</th> -->
                    <th rowspan="2">Uploaded Date</th>
                  </tr>
                  <tr>
                    <th>POI</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-file>
                  <tr>
                    <td colspan="2"></td>
                    <td>{{ file.name }}</td>
                    <td>{{ file.doc }}</td>
                    <!-- <td>{{ file.uploadedBy }}</td> -->
                    <td>{{ file.uploadedDate }}</td>
                  </tr>
                </ng-template>
              </p-table>

              <p>
                (Note For PAN Application of Non-individual applicants,
                Certificate of FPI Registration granted by Designated Depository
                Participant (DDP) on behalf of SEBI shall be forwarded to Income
                Tax Department of India for PAN allotment.)
              </p>
            </ng-template>
          </p-fileupload>
        </div>
      </form>
    </p-scrollpanel>
  </p-card>
</div>
