<app-header></app-header>

<div class="forgot-wrapper">
  <div class="forgot-text">
    <h1>
      Technology, <br />
      <span> Trust & Reach </span>
    </h1>
    <p>
      Foreign Investment inflow is an important reason for India’s economic
      growth. So to simplify compliance requirements and have uniform guidelines
      for various categories of foreign investors like Foreign Institutional
      Investors (FIIs), Sub Accounts and Qualified Foreign Investors (QFIs)
      merged into a new investor class termed as Foreign Portfolio Investors
      (FPIs).
      <!-- <a href="#"> Show More </a> -->
    </p>
    <button
      routerLink="/register"
      pButton
      icon="pi pi-angle-right"
      iconPos="right"
      pRipple
      label="Get Started"
      id="get-started"
    ></button>
  </div>

  <p-card class="p-card">
    <form #loginForm="ngForm" class="forgot-form">
      <h2>Forgot Password</h2>
      <p>
        Forgot your password? Enter your email below to receive a link to reset
        your password.
      </p>

      <div class="p-card-content">
        <div class="all-labels"><label for="email">Email</label></div>
        <input
          type="text"
          pInputText
          class="input"
          id="email"
          name="email"
          pSize="large"
          required
          autocomplete="off"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        />
        <!-- <p-floatLabel variant="in">
          <input
            type="text"
            email
            pInputText
            class="input"
            id="email"
            name="email"
            required
            autocomplete="off"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          />
          <label for="email">Email</label>
        </p-floatLabel> -->
      </div>

      <a routerLink="/auth/login" id="fp">Back To Login</a>

      <button
        type="submit"
        pButton
        pRipple
        label="Send Reset Link"
        class="p-button-primary"
      ></button>

      <div style="margin-top: 1rem; text-align: center">
        Don't have an account?
        <a routerLink="/auth/register" id="register">Sign Up</a>
      </div>
    </form>
  </p-card>
</div>

<app-footer></app-footer>
