<div class="card-wrapper">
  <p-card class="annexure-card">
    <div class="form-header">
      <p id="form-title">
        <span>Declaration and Undertaking</span>
        Application Form for Grant of Certificate of Registration as Foreign
        Venture Capital Investor (FVCI)
      </p>
      <div class="wrapper">
        <img [src]="download" alt="download button" />
        <a href="">Download</a>
      </div>
    </div>
    <p-scrollpanel [style]="{ width: '100%', height: '500px' }">
      <form>
        <div class="declaration-text">
          <p>
            I/We
            <input
              type="text"
              class="input-field"
              placeholder="Enter Your Name"
            />
            , the applicant, in the capacity of
            <input
              type="text"
              class="input-field"
              placeholder="Enter Your Name"
            />
          </p>
          <p>
            do hereby declare that what is stated in the aforesaid application
            form (including the enclosed documents/annexures) is complete and
            true to the best of my/our information and belief. I/we undertake to
            inform you of any changes therein, immediately. In case any of the
            above information is found to be false or untrue or misleading or
            misrepresenting, I am/we are aware that I/we may be held liable for
            it.
          </p>
          <p>
            I/we hereby apply for registration as Foreign Portfolio Investor
            (“FPI”) in accordance with the Securities and Exchange Board of
            India (Foreign Portfolio Investors) Regulations, 2019, obtain
            Permanent Account Number (PAN) from the Income Tax Department of
            India and open Depository Account & Bank Account (if applicable).
          </p>
          <p>
            Further, I/We have read and understood the Securities and Exchange
            Board of India (Foreign Portfolio Investors) Regulations, 2019,
            circulars issued thereunder, its operating guidelines, reply to
            frequently asked questions on the FPI regime provided by SEBI and
            shall abide by any other terms and conditions specified by SEBI from
            time to time.
          </p>
          <p>
            I/We hereby declare that I/we fulfill the eligibility criteria under
            the FPI Regulations and I/we am/are eligible to register as an FPI.
            Further, I/we hereby declare that I/we do not hold PAN issued by the
            Income Tax Department currently and shall be liable for a penalty of
            Rs. 10,000/- as per the provision of section 272(B) of the Income
            Tax Act, 1961 for possession of more than one PAN.
          </p>
        </div>

        <div class="input-group">
          <!--***************-->
          <div class="grid-item">
            <div class="sub-grid-item">
              <label>Place: </label>
              <input type="text" pInputText placeholder="Enter place" />
            </div>
            <div class="sub-grid-item">
              <label>Date: </label>
              <p-datepicker
                [showIcon]="true"
                [appendTo]="'body'"
                [style]="{ width: '100%' }"
              ></p-datepicker>
            </div>
          </div>

          <div class="grid-item">
            <div class="sub-grid-item">
              <label>Name: </label>
              <input type="text" pInputText placeholder="Enter place" />
            </div>
            <div class="sub-grid-item">
              <label>Designation: </label>
              <input type="text" pInputText placeholder="Enter date" />
            </div>
          </div>
          <!--***********************-->
          <div class="grid-item">
            <div class="sub-grid-item">
              <label>Date <span>*</span></label>
              <p-datepicker
                [showIcon]="true"
                [appendTo]="'body'"
                [style]="{ width: '100%' }"
              ></p-datepicker>
            </div>
          </div>
        </div>

        <div class="declaration-table">
          <p-table [value]="tableData">
            <ng-template pTemplate="header">
              <tr>
                <th>Name</th>
                <th>Designation</th>
                <th>Authorization Status *</th>
                <th>Signature</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
              <tr>
                <td>{{ rowData.name }}</td>
                <td>{{ rowData.designation }}</td>
                <td>{{ rowData.status }}</td>
                <td>
                  <p-select
                    [options]="signatureOptions"
                    placeholder="Please select one of the below options:"
                    optionLabel="Select"
                    appendTo="'body'"
                  ></p-select>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </form>
    </p-scrollpanel>
  </p-card>
</div>
