<div class="hero">
  <div class="hero-wrapper">
    <div class="hero-content">
      <h1 class="hero-title">
        Empowering Investments with Unmatched Compliance and Technology.
      </h1>
      <button
        pButton
        pRipple
        icon="pi pi-arrow-right"
        iconPos="right"
        label="Find Out More"
        class="find-out"
        routerLink="/auth/register"
      ></button>
      <div class="button-wrapper">
        <a routerLink="/auth/register" class="background"> Register Now</a>
        <a routerLink="auth/register" class="transparent">
          Register to access FPI portal
        </a>
      </div>
    </div>
    <div class="hero-image">
      <img [src]="hero" alt="hero section image" />
    </div>
  </div>

  <div class="fpi-wrapper">
    <h3>Used by 3,000+ FPIs worldwide</h3>
    <div class="countries">
      <div class="country">
        <img [src]="c1" alt="country number 1" />
      </div>
      <div class="country">
        <img [src]="c2" alt="country number 2" />
      </div>
      <div class="country">
        <img [src]="c3" alt="country number 3" />
      </div>
      <div class="country">
        <img [src]="c4" alt="country number 4" />
      </div>
      <div class="country">
        <img [src]="c5" alt="country number 5" />
      </div>
      <div class="country">
        <img [src]="c6" alt="country number 6" />
      </div>
      <div class="country">
        <img [src]="c7" alt="country number 7" />
      </div>
      <div class="country">
        <img [src]="c8" alt="country number 8" />
      </div>
      <div class="country">
        <img [src]="c9" alt="country number 9" />
      </div>
      <div class="country">
        <img [src]="c10" alt="country number 10" />
      </div>
      <div class="country">
        <img [src]="c11" alt="country number 11" />
      </div>
      <div class="country">
        <img [src]="c12" alt="country number 12" />
      </div>
    </div>
  </div>
</div>
