.sidebar {
  width: 16vw;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  background: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  top: 50px;
}

.sidebar.toggled {
  transform: translateX(-100%);
}

.toggle-btn {
  position: absolute;
  top: 10px;
  right: -40px;
  background: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 50px 0 0;
}

.menu li {
  padding: 10px 20px;
}

.menu li a {
  text-decoration: none;
  color: #333;
}

.content {
  margin-left: var(--sidebar-width);
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.content.full-width {
  margin-left: 0;
}

::ng-deep .p-panelmenu {
  padding: 2rem 1rem 0;
}

::ng-deep .p-panelmenu-panel {
  border: none !important;
  /* padding-right: 1rem !important; */
}

::ng-deep
  .p-panelmenu-header:not(.p-disabled)
  .p-panelmenu-header-content:hover {
  background-color: transparent !important;
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

#label,
.link-item {
  width: 100%;
  font-weight: 500;
  color: #323b4d;
}

::ng-deep .p-panelmenu-submenu {
  padding: 0 !important;
  margin-top: 1rem !important;
  line-height: 2;
}

.item-label {
  margin-left: 1rem;
}

@media (max-width: 768px) {
  :root {
    --sidebar-width: 200px;
  }

  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.toggled {
    transform: translateX(0);
  }
}
