::ng-deep .p-button {
  background-color: #8f1709 !important;
  border: none !important;
  color: #fff !important;
}

.menu {
  padding: 0 2rem 0.4rem 2rem;
  position: fixed;
  margin-top: 5px;
  width: -webkit-fill-available;
  z-index: -1;
}

.menu h1,
h2,
h4 {
  margin: 0;
}

.menu-item {
  display: flex;
  flex-direction: column;
}

.new-app {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.progress h4 {
  color: #344054;
  font-weight: 500;
  font-size: 1rem;
}

.progress h2 {
  color: #344054;
  font-size: 1rem;
  border: 1px solid #8f1709;
  border-radius: 50%;
  padding: 0.5rem;
  font-weight: 500;
}

.steps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

.button-wrapper {
  display: flex;
  gap: 1rem;
}

button.active {
  background-color: #8f1709;
  color: white;
}

::ng-deep .p-breadcrumb {
  padding: 1rem 0 0 !important;
}

.text-color {
  color: #6b778c;
  font-size: 14px;
}

.new-app h1 {
  color: #344054;
  font-weight: 500;
  font-size: 24px;
}

::ng-deep .p-button-outlined {
  background: #dcdfe4 !important;
  color: #758195 !important;
  margin-right: 1px;
  border: none !important;
  height: 25px;
  width: 25px;
}

::ng-deep .p-button:not(:disabled):hover {
  background: #8f1709 !important;
  border: none !important;
  color: #fff !important;
}

.steps h3 {
  font-size: 1rem;
  font-weight: 500;
  color: #2c3e5d;
}

.step-button {
  display: flex;
  align-items: center;
  gap: 5px;
}
