<div class="menu">
  <p-breadcrumb class="max-w-full" [model]="crumbItems">
    <ng-template #item let-item>
      <ng-container *ngIf="item.route; else elseBlock">
        <a [routerLink]="item.route" class="p-breadcrumb-item-link">
          <span [ngClass]="[item.icon ? item.icon : '', 'text-color']"></span>
          <span class="text-color">{{ item.label }}</span>
        </a>
      </ng-container>
      <ng-template #elseBlock>
        <a [href]="item.url">
          <span class="text-color">{{ item.label }}</span>
        </a>
      </ng-template>
    </ng-template>
  </p-breadcrumb>

  <div class="menu-text">
    <div class="steps">
      <div class="step-button">
        <p-button
          *ngFor="let button of buttons; let i = index"
          (click)="setActive(i)"
          [rounded]="true"
          [label]="button.label"
          [class.active]="active === i"
          [outlined]="active !== i"
        ></p-button>
      </div>
      <h3>Step {{ currentStep }} of {{ totalSteps }}</h3>
      <p-select
        [options]="selectItems"
        [(ngModel)]="selectedItem"
        (onChange)="onStepSelect()"
        optionLabel="name"
        placeholder="EKYC"
        [appendTo]="'body'"
      ></p-select>
      <div class="progress">
        <h2>0%</h2>
      </div>

      <div class="button-wrapper">
        <button
          pButton
          pRipple
          label="Submit"
          disabled
          style="cursor: not-allowed"
        ></button>

        <!-- Save Button with Loading and Success States -->
        <button
          pButton
          pRipple
          label="Save"
          [disabled]="isSaving"
          (click)="saveForm()"
        >
          <ng-container *ngIf="isSaving">Saving...</ng-container>
          <ng-container *ngIf="!isSaving && saveSuccess">Saved!</ng-container>
        </button>

        <button pButton pRipple label="Next"></button>
      </div>
    </div>
  </div>
</div>
<app-loader *ngIf="isSaving"></app-loader>
